$defaultColor: #151b36;
$hoverColor: #c89963;
$white: #f1f1f1;
@import url("https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Odibee Sans";
}

h1 {
  font-size: 100px;
  color: $defaultColor;
}
button {
  font-family: "Odibee Sans";
  border: 1px solid $defaultColor;
  outline: none;
  padding: 12px 65px;
  font-size: 18px;
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
}
.swiper {
  width: 100vw;
  height: 100vh;
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet-active {
    background: $defaultColor;
  }
}
.page-number {
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 100px;
  font-weight: 900;
  -webkit-text-stroke: 2px $defaultColor;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
}

@mixin btn-before {
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  background: $hoverColor;
}
.btn-1 {
  background: transparent;
  color: $defaultColor;
  z-index: 1;
  transition: color 200ms linear;
  &::before {
    @include btn-before;
    height: 100%;
    width: 0;
    transition: width 400ms linear;
  }
  &:hover::before {
    width: 100%;
  }
}
.btn-2 {
  background: transparent;
  color: $defaultColor;
  z-index: 1;
  transition: color 200ms linear;
  &::before {
    @include btn-before;
    height: 100%;
    width: 100%;
    transition: width 400ms linear;
  }
  &:hover::before {
    width: 0;
  }
}
.btn-3 {
  background: transparent;
  color: $defaultColor;
  z-index: 1;
  transition: color 200ms linear;
  &::before {
    @include btn-before;
    height: 0;
    width: 100%;
    transition: all 400ms linear;
  }
  &:hover::before {
    height: 100%;
  }
}
.btn-4 {
  background: transparent;
  color: $defaultColor;
  transition: all 0.3s linear;
  &:hover {
    transform: skewX(-3deg);
    box-shadow: 3px 3px 3px $defaultColor;
  }
}
.btn-5 {
  border: none;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  background: transparent;
  &:after {
    position: absolute;
    content: " ";
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
  }
  &:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #000;
    &:after {
      -webkit-transform: scale(2) rotate(180deg);
      transform: scale(2) rotate(180deg);
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                  -4px -4px 6px 0 rgba(116, 125, 136, .2), 
        inset -4px -4px 6px 0 rgba(255,255,255,.5),
        inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    }
  }
}
.gray-bg{
  background: #e0e5ec;
}
.btn-6 {
  border: none;
  z-index: 2;
  transition: all 0.3s ease;
  overflow: hidden;
  background: transparent;
  box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .2), 
      inset -4px -4px 6px 0 rgba(255,255,255,.5),
      inset 4px 4px 6px 0 rgba(116, 125, 136, .3);
    color: #000;
        &:active{
          box-shadow:  10px 10px 12px 0 rgba(255,255,255,.5),
                -10px -10px 12px 0 rgba(116, 125, 136, .2), 
      inset -10px -10px 12px 0 rgba(255,255,255,.5),
      inset 10px 10px 12px 0 rgba(116, 125, 136, .3);
        }
}